{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/tetherheaderwide.png",
      "fileBody" : "/interface/chests/tetherbodywide.png",
      "fileFooter" : "/interface/chests/tetherfooterwide.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [44, 56],
      "dimensions" : [1, 1],
      "spacing" : [19, 19]
    },
    "insertPod" : {
      "type" : "label",
      "value" : "Insert Pod",
      "hAnchor" : "mid",
      "color" : [126, 117, 102],
      "position" : [40, 97]
    }
  }
}
